:root {
    --orange: #E56C0A;
    --red: #781c1f;
    --font-family: "Roboto", "Arial", sans-serif;
    --cursive-font: 'Pacifico', cursive;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.border-red {
    border-color: var(--red);
}

#top-bar {
    background-color: #FaFaFb;
    border-top: 3px solid var(--orange);
    height: 50px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .26); /*TODO: Use Material Design */
    min-width: 1060px;
    position: fixed;
    z-index: 10;
}

#top-bar-inner {
    width: 1060px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.unstyle-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#top-bar-link-container {
    display: inline-block;
}

#top-bar-links > li {
    display: inline-block;
    font-size: 14px;
    line-height: 47px;
    font-family: var(--font-family);
    color: #707070;
    font-weight: bold;
    padding: 0px 20px 0px 20px;
    transition: background-color .2s ease;
    position: relative;
}

/* TODO: Mousehover not working on objects. May need to replace objects with
just the SVG code */
.unstyle-list > li:hover {
    cursor: pointer;
    background-color: #eff0f1;
}

#icons-masked {
    height: 55px;
    width: 100%;
    position: relative;
    top: -60px;
}
#top-bar-icon-container {
    float: right;
    height: 100%;
}

/* TODO: Fix height here */
#top-bar-icon-list > li {
    display: inline-block;
    font-family: var(--font-family);
    text-align: center;
    transition: background-color .2s ease;
    height: 47px;
    width: 50px;
    transition: background-color .2s ease;
}

#top-bar-icon-list > li > object {
    padding-top: 13px;
    padding-bottom: 13px;
}

#main-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: calc(100% - 50px);
    transition: opacity .5s ease;
}

#main-container-spacer {
    width: 100%;
    height: 50px;
}

/* TODO: Place in separate CSS file */
/* TODO: Switch to flexbox */
#main-container-illustration {
    height: 100%;
    min-height: 580px;
    max-height: 800px;
}

.main-container-avatar {
    height: 132px;
    width: 140px;
    transition: transform .15s ease-in-out, opacity .2s ease-in;
}

.main-container-avatar:hover {
    cursor: pointer;
    transform: scale(1.2); /*TODO: Make the other avatar scale down as well, do we don't take-up so much space */
}

.main-container-avatar--notselected {
    opacity: .2;
}

#main-container-signup {
    width: 295px;
    padding-top: 10%;
    text-align: center;
    vertical-align: top;
    height: 100%;
    display:none;
}

#main-container-signup > span {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    font-family: var(--cursive-font);
    font-size: 32px;
}

#main-container-svg {
    width: 895px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

#main-container-svg-flex {
    display: flex;
    align-self: center;
    height: 100%;
    width: 100%;
}

#main-container-svg-flex > svg {
    align-self: center;
    height: 100%;
    width: 100%;
}

.svg-mountains {
    fill: blue;
}

#mountain-1 {
    transform: translate(0px, 100px);
}

#mountain-2 {
    transform: translate(50px, 80px);
}

#landing-stats {
    height: 300px;
    width: 100%;
    background-color: rgb(10, 10, 10);
}

#Cloud_1_copy, #Cloud_2_copy, #Cloud_1_copy_2 {
    animation-duration: 10s;
    animation-name: cloud1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#Cloud_2_copy_2, #Cloud_1_copy_3, #Cloud_1_copy_4 {
    animation-duration: 10s;
    animation-name: cloud2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#svg-title {
    font-family: var(--cursive-font);
    font-size: 40px;
}

#consumer2g {
    transform-origin: 150px 500px;
    transition: all .15s linear;
    cursor: pointer;
}

#consumer1g {
    transform-origin: 100px 500px;
    transition: all .15s linear;
    cursor: pointer;
}

#consumer2g:hover, #consumer1g:hover {
    transform: scale(1.1, 1.1);
}

.comingsoon {
    position: absolute;
    color: red;
    font-size: 8px;
    top: -15px;
    font-style: italic;
}

.resting-card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    background-color: white;
}

@keyframes cloud2 {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(50px, 0px);
    }
}

@keyframes cloud1 {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-50px, 0px);
    }
}